#root {
  font-family: "Lato" !important;
}

.ui.button.descargar {
  height: 36px;
  width: 36px;
  position: absolute;
  top: 10px;
  margin: 0;
  right: 63px;
}
.ui.button.descargar a {
  padding: 10px;
  height: 40px;
  top: 0;
  color: #666868;
  position: absolute;
  left: 3px;
}

.ui.button.borrar {
  height: 36px;
  width: 36px;
  position: absolute;
  top: 10px;
  margin: 0;
  right: 63px;
}
.ui.button.borrar a {
  padding: 10px;
  height: 40px;
  top: 0;
  color: #666868;
  position: absolute;
  left: 20px;
}

.ui.button.Borrar {
  position: absolute !important;
  top: 10px;
  right: 110px;
}
.ui.input.barraBusqueda {
  position: absolute;
  top: 10px;
  width: calc(100% - 800px);
  left: 300px;
  right: 300px;
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
  min-width: 200px;
}

.ui.button.cerrarSesion {
  position: absolute !important;
  top: 10px;
  right: 14px;
}

.ui.selection.dropdown.filtrarPor {
  position: absolute !important;
  top: 10px;
  right: 160px;
}

#root .ui.secondary.pointing.menu .item {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 15px;
}

#root .ui.segment.active.tab {
  border: none;
  max-width: 900px;
  margin: auto;
}

.TarjetaCerrada {
  display: flex;
  width: 100%;
  padding-right: 5px !important;
  align-items: center;
}
#root .nombre .label {
  margin-right: 5px;
}
.nombre {
  font-weight: 700;
  flex-basis: 35%;
  transition: transform 0.2s;
  transform-origin: 0 0;
}

.Plantilla {
  flex-basis: 40%;
}

.Fecha {
  flex-basis: 25%;
  text-align: right;
  padding-left: 10px;
}

.Centro {
  width: 100px;
  text-align: right;
  padding-left: 10px;
}

.email {
  display: none;
}

#root [aria-expanded="true"] .email {
  display: inline;
  font-weight: 200;
  opacity: 0.5;
  padding-left: 5px;
  user-select: text;
}

#root [aria-expanded="true"].pendiente {
  background-color: #ececec;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#root [aria-expanded="true"].rechazada {
  background-color: #ed1c24;
  color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#root [aria-expanded="true"].aceptada {
  background-color: #2db84b;
  color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#root [aria-expanded="true"] .nombre .label {
  display: none;
}

[aria-expanded="true"] .nombre {
  transform: scale(1.5, 1.5);
  transform-origin: 0 15px;
  flex-basis: 50%;
}

[aria-expanded="true"] .Plantilla {
  transform: scale(0, 0);
  transform-origin: 0 0;
}

.TarjetaAbierta {
  width: 100%;
}

.TarjetaAbierta .Plantilla {
  font-size: 20px;
  padding-top: 20px;
  padding-left: 24px;
}

.TarjetaAbierta .Categoria {
  margin-top: 6px;
  padding-left: 24px;
}

.TarjetaAbierta .GridContainerPlantilla {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 20px 24px;
  text-transform: uppercase;
}

.tituloPlantilla,
.caract-comun {
  color: #979797;
  font-size: 13px;
  padding-bottom: 3px;
}

.itemCampoComun span {
  vertical-align: sub;
}

.itemCampoComun img {
  opacity: 0.5;
}

#root .ui.divider.fitted {
  margin: 5px 0;
}

.BotonesEstados {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.edit-mode-toggle label {
  padding-right: 10px;
  vertical-align: super;
}
.edit-mode-toggle label:hover {
  cursor: pointer;
}

.tarjeta-row .edit-mode-toggle {
  height: 36px;
  margin-top: 20px;
}

#root .BotonesEstados .Rechazar:hover {
  background-color: #ffbbbe;
}

#root .BotonesEstados .Aceptar:hover {
  background-color: #98e2a7;
}
#root .BotonesEstados .Rechazar.active,
#root .BotonesEstados .Rechazar:focus {
  color: white;
  background-color: #ed1c24;
}

#root .BotonesEstados .Aceptar.active,
#root .BotonesEstados .Aceptar:focus {
  color: white;
  background-color: #2db84b;
}
#root .TextRechazo {
  display: flex;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.logoSap {
  vertical-align: sub;
  padding-right: 2px;
}

.tarjeta-row {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .ui.pointing.secondary.menu {
    margin-bottom: 70px;
  }

  .ui.input.barraBusqueda {
    top: 70px;
    width: calc(100% - 245px);
    left: 10px;
  }
  .ui.selection.dropdown.filtrarPor {
    top: 70px;
    right: 10px;
  }
}

.grid-itemPlantilla .ui.form textarea {
  line-height: 19px !important;
}

.ui.input.input-caracteristica > input,
.ui.form textarea.input-caracteristica {
  padding-right: 0px;
  border-right: none;
  border-top: none;
  border-left: none;
  border-radius: 0;
  padding-left: 0px;
  padding-bottom: 4px;
  padding-top: 1px;
  font-family: "Lato";
}

.grid-itemPlantilla span {
  padding-bottom: 6px;
}

.spacer {
  height: 4px;
}

.ui.fluid.search.selection.dropdown.unidadMedida {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding-left: 0;
  padding-top: 3px;
  min-height: 22px;
  margin-left: -1px;
  padding-bottom: 0;
  border-radius: 0;
}

.ui.active.visible.fluid.search.selection.dropdown.unidadMedida {
  padding-left: initial;
  border-left: 1px solid #96c8da;
  border-top: 1px solid #96c8da;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 11px;
  border-radius: 5px;
  border-right: 1px solid #96c8da;
}

.unidadMedida input.search {
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

.unidadMedida i.dropdown.icon {
  top: 2px !important;
}
