#root {
  font-family: "Lato" !important;
}

.ui.input.barraBusqueda {
  position: absolute;
  top: 10px;
  width: 50%;
  left: 25%;
}

.ui.labeled.button.cerrarSesion {
  position: absolute !important;
  top: 10px;
  right: 14px;
}

#root .ui.secondary.pointing.menu .item {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 15px;
}

#root .ui.segment.active.tab {
  border: none;
}

.TarjetaCerrada {
  display: flex;
  width: 100%;
  padding-right: 5px !important;
  align-items: center;
}
#root .nombre .label {
  margin-right: 5px;
}
.nombre {
  font-weight: 700;
  flex-basis: 35%;
}

.Plantilla {
  flex-basis: 40%;
}

.Fecha {
  flex-basis: 25%;
  text-align: right;
  padding-left: 10px;
}

.Centro {
  width: 100px;
  padding-left: 10px;
}
