.contenedorCategorias {
  height: 500px;
  overflow-y: scroll;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.contenedorPlantillas {
  height: 500px;
  overflow-y: scroll;
  border-top: 1px solid rgba(34, 36, 38, 0.15) !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.segmentCategorias {
  border-radius: 0 !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15) !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.searchCategoria {
  margin: 10px;
}

.ui.segment.segmentCategorias:hover {
  cursor: pointer;
  background-color: rgba(228, 233, 241, 1);
}

#root .ui.segment.blue {
  background-color: rgba(228, 233, 241, 1) !important;
  color: rgb(46, 162, 248) !important;
  font-weight: 700;
}

#root .ui.segment .check.inverted {
  color: rgb(46, 162, 248) !important;
}

#root .ui.segment {
  box-shadow: none;
  -webkit-box-shadow: none;
}

#root .ui.divider {
  margin-bottom: 45px;
  margin-top: 45px;
}

#root .NumeroMaterial i.check {
  color: green;
}
#root .info {
  display: inline;
  font-size: 16px;
}

#root .requerido {
  color: red;
}

#root a {
  cursor: pointer;
}
