.contenedorCategorias {
  height: 500px;
  overflow-y: scroll;
  border-top: 1px solid rgba(34, 36, 38, 0.15) !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.segmentCategorias {
  border-radius: 0 !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15) !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.searchCategoria {
  margin: 10px;
}

.ui.segment.segmentCategorias:hover{
  cursor: pointer;
  background-color: rgb(226, 230, 240);
}


#root .ui.divider {
  margin-bottom: 45px;
  margin-top: 60px;
}
